* {
  font-size: 100%;
  font-family: "PT Mono", monospace;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #000000;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  font-family: "PT Mono", monospace !important;
  font-size: 100%  !important;
  font-weight: 400  !important;
}

input {
  font-family: "PT Mono", monospace !important;
}


mark {
  background-color: lightgray
}

.MuiInputLabel-root {
  font-family: "PT Mono", monospace !important;
}
