.search {
  position: relative;

  &__input {
    border: 0;
    padding: 12px;
    padding-left: 2rem;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  &__icon-wrapper {
    height: 100%;
    position: absolute;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.54);
  }
}
