.poem-item {
  padding: 2rem 0;
  position: relative;
  user-select: none;

  &__link {
    position: absolute;
    top: -2rem;
  }

  &__title,
  &__date {
    font-family: "Jura", sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
  }

  &__date {
    font-size: 1rem;
  }

  &__title-wrapper {
    display: flex;
    align-items: center;
  }

  &__admin-buttons {
    display: flex;
    margin-left: 2rem;

    @media screen and (min-width: 641px) {
      margin-left: 5rem;
    }
  }
}

pre {
  white-space: pre-line;
}
